.wrap{
    font-size: 20px;
    text-align:center;
}

/* #start_button{
    width:500px;
    height:500px;
    text-align:center;
    padding:50px;
    line-height:50px;
    background-color:rgb(224, 79, 122);
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius:50%;
    font-size: 80px;
} */
